Brotli==1.0.9
certifi==2020.6.20
charset-normalizer==2.0.12
click==8.1.2
dash==2.3.1
dash-bootstrap-components==1.1.0
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
docopt==0.6.2
Flask==2.1.1
Flask-Compress==1.11
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
numpy==1.22.3
packaging==21.3
pandas==1.4.2
patsy==0.5.2
pipreqs==0.4.11
plotly==5.7.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
scipy==1.8.0
six==1.16.0
statsmodels==0.13.2
tenacity==8.0.1
urllib3==1.26.9
Werkzeug==2.1.1
yarg==0.1.9